name: A workflow for PRs
on: 
  pull_request:
    branches:
    - master
jobs:
  build:
    name: echo info
    runs-on: ubuntu-latest    
    steps:
      - name: Stop action on special branch name
        if: !(startsWith(github.head_ref, 'stop-action-'))
        run: exit 0
      - name: Dump GitHub context
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: echo "$GITHUB_CONTEXT"
      - name: Dump job context
        env:
          JOB_CONTEXT: ${{ toJson(job) }}
        run: echo "$JOB_CONTEXT"
      - name: Dump steps context
        env:
          STEPS_CONTEXT: ${{ toJson(steps) }}
        run: echo "$STEPS_CONTEXT"
